{% extends 'base.html' %}

{% block content %}
<h1>Project: {{data_.name}} </h1>
<table class="table">

	<thead>
		<tr>
            <th>Name</th>
            <th>Percent</th>
            <th>File</th>
            <th>Created</th>
            <th>Client<th>

		</tr>
	</thead>
<tbody>
	<tr>
    	<td>{{ data_.name }}</td>
		<td>{{ data_.percent }} %</td>
		<td>{{ data_.file }}</td>
		<td>{{ data_.created_at }}</td>
		<td>{{ data_.client_id }}</td>
	</tr>
</tbody>
</table>

<br>
<br>
<br>

<h1>Project requirements: </h1>

<table class="table">

	<thead>
		<tr>
			<th>Title</th>
			<th>Start Date</th>
			<th>Date end</th>
			<th>Project</th>
			<th>Action</th>
		</tr>
	</thead>
{% for i in data %}

	<tr>
		<td>{{ i.title }}</td>
		<td>{{ i.start_date }}</td>
		<td>{{ i.end_date }}</td>
		<td>{{ i.project_id }}</td>
		<td>
			 <a href="{% url 'view_requirement' i.id %}" rael="tooltip" title="View" class="btn btn-info btn-simple btn-xs">
				 <i class="fa fa-user"></i>

{% for r in rol_ %}

	{% if user == r.user_id %}

		{% if r.rol == 'Scrum Master' %}

			{% if r.project_id == data_ %}
					 <a href="{% url 'update_requirement' i.id %}" rael="tooltip" title="Update" class="btn btn-success btn-simple btn-xs">
						 <i class="fa fa-user"></i>

						 <a href="{% url 'delete_requirement' i.id %}" rael="tooltip" title="Detele" class="btn btn-danger btn-simple btn-xs">
							 <i class="fa fa-user"></i>

			{% endif %}

		{% endif %}

	{% endif %}

{% endfor %}
		</td>
	</tr>

{% endfor %}
</table>

{% for r in rol_ %}

	{% if user == r.user_id %}

		{% if r.rol == 'Scrum Master' %}

			{% if r.project_id == data_ %}
				<a href="{% url 'create_requirement' %}" class="btn btn-primary btn-raised ">New requirement</a>
			{% endif %}

		{% endif %}

	{% endif %}

{% endfor %}

{% endblock %}
