{% extends 'base.html' %}

{% block content %}



<table class="table">
	 <thead>
        <tr>
            <th class="text-center">#</th>
            <th>Title</th>
            <th>Task</th>
            <th class="text-right">Actions</th>
        </tr>
    </thead>
{% for i in data %}

	<tr>
		<td>{{ i.title }}</td>
		<td>{{ i.task_id }}</td>
		<td class="td-actions text-right">
                <a href="{% url 'view_comment' i.id %}" rael="tooltip" title="View comment" clss="btn btn-info btn-simple btn-xs">
                    <i class="fa fa-user"></i>
                </a>
                <a href="{% url 'update_comment' i.id %}" rel="tooltip" title="Edit comment" class="btn btn-success btn-simple btn-xs">
                    <i class="fa fa-edit"></i>
                </a>
                <a href="{% url 'delete_comment' i.id %}" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                    <i class="fa fa-times"></i>
                </a>
            </td>

{% endfor %}
</table>

<a href="{% url 'create_comment' %}" class="btn btn-primary btn-raised ">New comment</a>

{% endblock %}
