{% extends 'base.html' %}

{% block content %}



<table class="table">
	<thead>
		<tr>
			<th>Title</th>
			<th>Comment</th>
			<th>Task</th>
			<th>Action</th>
		</tr>
	</thead>
 <tbody>
    <tr>
		<td>{{ data.title }}</td>
		<td>{{ data.comment }}</td>
		<td>{{ data.task_id }}</td>
		<td>
			<a href="{% url 'update_comment' data.id %}" rel="tooltip" title="Edit " class="btn btn-success btn-simple btn-xs">
		    <i class="fa fa-edit"></i>
		  </a>
		  <a href="{% url 'delete_comment' data.id %}" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
		    <i class="fa fa-times"></i>
		  </a>
		</td>
	</tr>
 </tbody>
</table>
{% endblock %}
