{% extends 'base.html' %}

{% block content %}

<table class="table">
<thead>
        <tr>

            <th>Title</th>
            <th>Percent</th>
            <th>State</th>
            <th>Hours</th>
            <th>Project</th>
            <th>User in Charge</th>
            <th>Supervisor</th>
             
        </tr>
    </thead>
{% for data in data %}
<tbody>
	<tr>
		<td>{{ data.title }}</td>
		<td>{{ data.percent }}</td>
		<td>{{ data.state }}</td>
		<td>{{ data.hours }}</td>
		<td>{{ data.project_id }}</td>
		<td>{{ data.user_in_charge }}</td>
		<td>{{ data.user_supervisor }}</td>
</tr>
</tbody>
</table>

<table class="table">

	<thead>
		<tr>
			<th>title</th>
            <th>description</th>
            <th>state</th>
            <th>task</th>
            <th class="text-right">Actions</th>
		</tr>
	</thead>
{% for i in data %}

	<tr>
		<td>{{ i.title }}</td>
		<td>{{ i.description }}</td>
		<td>{{ i.state }}</td>
		<td>{{ i.task_id }}</td>
		<td>

			<td class="td-actions text-right">
                <a href="{% url 'view_error' i.id %}" rel="tooltip" title="View Task" class="btn btn-info btn-simple btn-xs">
                    <i class="fa fa-user"></i>
                </a>
                <a href="{% url 'update_error' i.id %}" rel="tooltip" title="Edit Task" class="btn btn-success btn-simple btn-xs">
                    <i class="fa fa-edit"></i>
                </a>
                <a href="{% url 'delete_error' i.id %}" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                    <i class="fa fa-times"></i>
                </a>
            </td>

{% endfor %}
</table>

<a href="{% url 'create_error' %}" class="btn btn-primary btn-raised ">New error</a>

{% endblock %}
