{% extends 'base.html' %}

{% block content %}
<h1>Requerimient: {{ data.title}} </h1>

<table class="table">
	<thead>
		
		<tr>
			<th>title</th>
			<th>Description</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Project</th>
		</tr>
	</thead>
	<tbody>
		
		<tr>
			
		<td>{{ data.title }}</td>
		<td>{{ data.description }}</td>
		<td>{{ data.start_date }}</td>
		<td>{{ data.end_date }}</td>
		<td>{{ data.project_id }}</td>
		{% comment %}
 <a hef="{% url 'update_requirement' data.id %}" rel="tooltip" title="Edit Client" class="btn btn-success btn-simple btn-xs">
                    <i class="fa fa-edit"></i>
                </a>
                <a href="{% url 'delete_requirement' data.id %}" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                    <i class="fa fa-times"></i>
                </a>r
{% endcomment %}
</tr>
</tbody>


	</table>

{% endblock %}
 