{% extends 'base.html' %}

{% block content %}
<table class="table">

	<thead>
		
		<tr>
			<th>Title</th>
			<th>Description</th>
			<th>State</th>
			<th>Task</th>
		</tr>
	</thead>

<tbody>
	<tr>
    	<td>{{ data.title }}</td>
		<td>{{ data.description }}</td>
		<td>{{ data.state }}</td>
		<td>{{ data.task_id }}</td>
	</tr>
	<a href="{% url 'update_error' data.id %}" rel="tooltip" title="Edit Client" class="btn btn-success btn-simple btn-xs">
                    <i class="fa fa-edit"></i>
                </a>
                <a href="{% url 'delete_error' data.id %}" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                    <i class="fa fa-times"></i>
                </a>
	</tbody>

 



</table>
{% endblock %}
